.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    outline: 2px solid transparent;
    max-width: 100%;
    z-index: 1;
}

.navbar .site-name span span {
    color: var(--text);
    transition: color 0.3s ease-in-out;
    -webkit-text-stroke: 2px transparent;
}

.navbar .site-name:hover span span:first-child, .navbar .site-name:focus-visible span span:first-child {
    color: var(--brandRed);
}

.navbar .site-name:hover span span:last-child, .navbar .site-name:focus-visible span span:last-child {
    color: var(--brandBlue);
}

.navbar .site-name:focus-visible span span:first-child {
    -webkit-text-stroke: 1px var(--background);
}

.navbar .site-name:focus-visible span span:last-child {
    -webkit-text-stroke: 1px var(--background);
}

@media screen and (max-width: 1000px) {
    .navbar {
        padding: 0;
        gap: 0.25rem;
        justify-content: center;
        flex-direction: column;
    }

    .navbar .site-name {
        padding: 0;
    }

    .navbar .site-name h2 {
        font-size: var(--extra-extra-large);
    }

    .navbar .nav-list {
        gap: 0.5rem !important;
        justify-content: space-between !important;
    }

    .navbar .nav-list .nav-item > *{
        font-size: var(--medium) !important;
        padding: 0rem !important;
    }

    .navbar .nav-list .nav-item a {
        padding: 0rem !important;
    }

    .navbar .nav-list .nav-item .dropdown-menu .dropdown-option {
        font-size: var(--small) !important;
        padding: 0rem;
    }
    
}

.navbar .nav-list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.navbar .nav-list .nav-item > * {
    font-size: var(--large);
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: block;
    background-color: transparent;
    border-radius: 100rem !important;
}

.navbar.scrolled {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: var(--navbarBG);
    box-shadow: var(--navbarBorder);
}

.navbar .nav-list .nav-item .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
    cursor: pointer;
}

.navbar .nav-list .nav-item .dropdown .dropdown-caret {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
}

.navbar .nav-list .nav-item .dropdown.opened {
    background-color: var(--accent);
    color: var(--text);
}

.navbar .nav-list .nav-item .dropdown.opened .dropdown-caret {
    transform: rotate(180deg);
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu {
    position: absolute;
    top: 65%;
    background-color: var(--accentNav);
    font-size: var(--medium);
    z-index: -1;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 0%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbar .nav-list .nav-item .dropdown.opened .dropdown-menu {
    max-height: 500%;
    padding: 0.25rem;
    padding-top: 1.5rem;
    outline: 2px solid var(--accent);
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu .dropdown-option {
    background-color: transparent;
    border-radius: 100rem !important;
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu .dropdown-option:focus-visible {
    outline: 0.3rem solid var(--highlightInverse);
}