.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: var(--secondary);
}

.navbar .nav-list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.navbar .nav-list .nav-item .nav-link {
    font-size: var(--large);
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: block;
}

.navbar .nav-list .nav-item .nav-link.active {
    position: relative;
}

.navbar .nav-list .nav-item {
    position: relative;
    height: 100%;
}

.navbar .nav-list .nav-item .nav-link::before,
.navbar .nav-list .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    pointer-events: none;
}

.navbar .nav-list .nav-item .active {
    background-color: var(--background);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-inline: 0.5rem;
}

.navbar .nav-list .nav-item .active.nav-link::before,
.navbar .nav-list .nav-item .active.nav-link::after {
    background-color: var(--secondary);
    pointer-events: auto;
    border-radius: 100%;
    z-index: 2;
}

.navbar .nav-list .nav-item>.active::before,
.navbar .nav-list .nav-item>.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--background);
}

.navbar .nav-list .nav-item .active.nav-link::before {
    left: calc(-1.5rem);
}

.navbar .nav-list .nav-item .active.nav-link::after {
    right: calc(-1.5rem);
}

.navbar .nav-list .nav-item .active::before {
    left: -0.5rem;
}

.navbar .nav-list .nav-item .active::after {
    right: -0.5rem;
}