.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    outline: 2px solid transparent;
    max-width: 100%;
}

.navbar .site-name span span {
    color: var(--text);
    transition: color 0.3s ease-in-out;
    -webkit-text-stroke: 2px transparent;
}

.navbar .site-name:hover span span:first-child, .navbar .site-name:focus-visible span span:first-child {
    color: #E81B23;
}

.navbar .site-name:hover span span:last-child, .navbar .site-name:focus-visible span span:last-child {
    color: #00AEF3;
}

.navbar .site-name:focus-visible span span:first-child {
    -webkit-text-stroke: 1px var(--background);
}

.navbar .site-name:focus-visible span span:last-child {
    -webkit-text-stroke: 1px var(--background);
}

@media screen and (max-width: 755px) {
    .navbar {
        padding: 0.25rem;
        gap: 0rem;
        justify-content: center;
        flex-direction: column;
    }

    .navbar .site-name {
        padding: 0;
    }

    .navbar .site-name h2 {
        font-size: var(--extra-extra-large);
    }

    .navbar .nav-list .nav-item .nav-link.nav-link {
        font-size: var(--medium);
        padding: 0rem;
    }
    
}

.navbar .nav-list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.navbar .nav-list .nav-item .nav-link {
    font-size: var(--large);
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: block;
}

@media (prefers-color-scheme: dark) {
    .navbar.scrolled {
        background: rgba(2, 23, 20, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        outline: 2px solid rgba(2, 23, 20, 0.9);
    }
}

@media (prefers-color-scheme: light) {
    .navbar.scrolled {
        background: rgba(231, 253, 248, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        outline: 2px solid rgba(231, 253, 248, 0.9);
    }
}
