.controls .icon-link {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--p);
    color: var(--text) !important;
    opacity: 0.6;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.controls .icon-link:hover {
    opacity: 1;
    transform: scale(1.05);
}

.controls .icon-link:focus-visible {
    opacity: 1;
    transform: scale(1.05);
    --highlightColor: var(--downColor);
    --highlightInverse: var(--text);

    outline: 0.5rem solid var(--highlightInverse);
    outline-offset: -1px;
    --customFill: var(--downColor);
}

.controls .icon {
    width: 2rem;
    height: 2rem;
}