.home {
    width: 100vw;
    height: 100svh;
    padding: 2rem 10rem;
    display: grid;
    overflow-y: scroll;
    gap: 2rem;
    background-color: var(--background);
    color: var(--text);

    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .home {
        padding: 2rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --font-scale: 1 !important;
    }
}

@media screen and (max-width: 500px) {
    .home {
        padding: 1rem;
    }

    .home .info-card .controls small {
        font-size: var(--p);
    }

    :root {
        --font-scale: 0.75 !important;
        --icon-size: 1.25rem;
    }
}

@media screen and (max-width: 375px) {
    .home {
        padding: 0.5rem;
    }

    :root {
        --font-scale: 0.5 !important;
        --icon-size: 1rem;
    }
}