.home {
    width: 100vw;
    height: fit-content;
    display: grid;
    background-color: var(--background);
    color: var(--text);

    place-items: center;
    align-content: space-between;

    position: relative;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    z-index: 3;
}

.main {
    width: 100%;
    padding: min(5%, 10rem) min(10%, 20rem);
    position: relative;
}

.footer {
    background-color: green;
    width: 100%;
}

/* @media screen and (max-width: 900px) {
    .home {
        padding: 2rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --font-scale: 1 !important;
    }
}

@media screen and (max-width: 500px) {
    .home {
        padding: 1rem;
    }

    .home .info-card .controls small {
        font-size: var(--p);
    }

    :root {
        --font-scale: 0.75 !important;
        --icon-size: 1.25rem;
    }
}

@media screen and (max-width: 375px) {
    .home {
        padding: 0.5rem;
    }

    :root {
        --font-scale: 0.5 !important;
        --icon-size: 1rem;
    }
} */