.info-card {
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--text);
    display: grid;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    width: fit-content;
    max-width: 45rem;
    padding-block: 1rem;
}

.info-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.change {
    font-size: var(--p);
    min-height: var(--icon-size);
    display: flex;
    align-items: center;
}

.change .icon {
    background: none;
    border: none;
    font-size: var(--p);
    color: inherit;
    opacity: 1;
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 0.5ch;
    vertical-align: baseline;
}

.controls {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    min-height: var(--icon-size);
}

.controls small {
    font-size: var(--small);
}

.controls a {
    display: flex;
    justify-content: center;
    align-items: center;
}